.my_navbar {
  display: flex;
}

.my_navbar .logo_container {
  flex-grow: 0;
  padding: 10px;
}

.my_navbar .logo_container img {
  height: 60px;
}

.my_navbar .navbar_links_container {
  flex-grow: 1;
}

.my_navbar .navbar_links_container ul {
  list-style: none;
  height: 100%;
}

.my_navbar .navbar_links_container ul a {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: black;
}

.my_navbar .navbar_links_container ul a:hover {
  background-color: #0c7cec;
  color: white;
}

header,
main,
footer {
  width: 70%;
  margin: 0 auto;
}

