.container {
  width: 70%;
  margin: 0 auto;
}

.container .my_navbar {
  display: flex;
}

.container .my_navbar .col {
  padding: 0;
}

.container .my_navbar .logo_container {
  flex-grow: 0;
  padding: 10px;
}

.container .my_navbar .logo_container img {
  height: 60px;
}

.container .my_navbar .navbar_links_container {
  flex-grow: 1;
}

.container .my_navbar .navbar_links_container ul {
  list-style: none;
  height: 100%;
  flex-wrap: nowrap;
}

.container .my_navbar .navbar_links_container ul a {
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: black;
}

.container .my_navbar .navbar_links_container ul a:hover {
  background-color: #0c7cec;
  color: white;
}

.jumbotron_container {
  height: 480px;
  position: relative;
  background-image: url("/img/jumbotron.jpg");
  background-position: top;
}

.jumbotron_container .jumbotron_blue_divisor {
  background-color: #0c7cec;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer {
  background-image: url("/img/footer-bg.jpg");
  background-position: center;
  background-size: cover;
}

footer .top_footer .container .footer_links_container {
  padding: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
}

footer .top_footer .container .footer_links_container .footer_link_title {
  z-index: 99;
  color: white;
}

footer .top_footer .container .footer_links_container a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
  display: block;
}

footer .top_footer .container .footer_logo_container {
  /*  background-image: url('/img/dc-logo-bg.png');
  background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
  overflow: hidden;
}

footer .top_footer .container .footer_logo_container img {
  position: absolute;
  top: -55px;
  width: 90%;
}

footer .bottom_footer {
  height: 60px;
  background-color: red;
}

