main{
    background-color: #282828;
    h1{
        margin: 0;
        color: white;
    }

    .container{
        width: 70%;
        margin: 0 auto;
        padding: 60px 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .badge{
            position: absolute;
            top: -25px;
            left: -10px;
            background-color: #0c7cec;
            border-radius: 0;
            padding: 10px 30px;
            h2{
                margin: 0;
            }
        }

        .single_card_container{
            width: calc(100% / 6 - 20px);

            .comic_thumb_container{
                height: 150px;
                overflow: hidden;

                img{
                    width: 100%;
                }
            }

            .comic_title{
                color: white;
                padding: 10px 0 20px;
                font-size: 12px;
            }
        }
    }

}