.my_navbar{
    display: flex;
    

    
    .logo_container{
        flex-grow: 0;
    }
    
    .navbar_links_container{
        flex-grow: 1;
        
        ul{
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
}